$main-cont: #271e53;
$main-color: #eaeaea;
$secondary-color: #2d2574;
$accent: #45ffa2;
$finance-window: #1b1249;

$income: #82c98c;
$expense: #e8526f;

$mobile: 768px;

$box-shadow: 0 0 100px 0 rgba(36, 29, 112, 0.75);

@mixin h-2 {
  font-size: 25px;
  font-weight: 600;
  color: $main-color;
  position: relative;
  @content;
}

@mixin in-out($inc-color) {
  background-color: $inc-color;
  min-width: 90px;
  color: #271e53;
  vertical-align: middle;
  font-size: 0.5rem;
  font-weight: 500;
  padding: 4px 10px;
  border-radius: 10px;
  margin: 0 auto;
}